*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    width: 400px;
    height: 350px;
    border: 2px solid blue;
}
.first-div{
    border: 10px solid black;

    position: fixed;
    top: 400px;
    left: 100px;

}