*{
    padding: 0;
    margin: 100px;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35px;
    right: 20px;
    left: 600px;
}

.andria:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    transform: scale(1,2);
    transition: 1s;

}

