* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    img{
        height: 500px;
        width: 500px;
        align-items: right 500px ;
    }

    .adamiani{
       color: aqua;
       font-size: 40px;
    }



